/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
	/*outline: 1px solid green;*/
}
.margin_none{
	margin-right: 0px;
	margin-left: 0px;
}
.margin_60{
	margin-right: -60px;
	margin-left: -60px;
}
.padding_half{
	padding-right: 7px;
	padding-left: 7px;
}
.padding_none{
	padding-left: 0px;
	padding-right: 0px;
}
.padding_right{
	padding-right: 0px;
}
.padding_left{
	padding-left: 0px;
}
.padding_74{
	padding-right: 74px;
	padding-left: 74px;
}
.upper{
	text-transform: uppercase;
}
.lower{
	text-transform: lowercase;
}
.text_justify{
	text-align: justify;
}
.bold{
	font-weight: 700;
}
.wrap{
	overflow: hidden;
}
.brown{
	color: #860000;
}
.gray{
	color: #5d5d5d;
}
.light_gray{
	color: #cacaca;
}
p{
	font-size: 14px;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	color: #6f6f6f;
}
h2{
	font-size: 26px;
	font-weight: 700;
	font-family: Arial, sans-serif;
	margin-bottom: 20px;
}

@font-face {
	font-family: UbuntuB; 
	src: url('../fonts/Ubuntu-B.ttf'); 
}
@font-face {
	font-family: Ubuntu; 
	src: url('../fonts/Ubuntu-R.ttf'); 
}

/* Header */
header{
	background-color: #860000;
	padding-top: 12px;
	padding-bottom: 10px;
}
header p,
header a{
	color: #fff;
}
.with_whom .img,
header .img{
	margin: auto;
}
header .row{
	min-height: 125px;
}
header .col-md-3,
header .col-md-6{
	min-height: inherit;
}
.how .img_block:before,
.how .body:before,
header .col-md-3:before,
header .col-md-6:before{
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}
.how .img_block > .wrap_img,
.how .body > p,
header .col-md-3 > a,
header .col-md-3 > div,
header .col-md-6 > p{
	display: inline-block;
	vertical-align: middle;
}
header .contacts_info{
	line-height: 1.5;
}
header .contacts_info a.phone{
	font-size: 30px;
}
header a:focus,
header a:hover{
	color: #fff;
	text-decoration: none;
}
/* End Header */

/* Wake Up*/
.wake_up{
	padding-top: 45px;
	background-color: #cacaca;
}
.wake_up h1{
	color: #860000;
	font-size: 32px;
	font-weight: 700;
	font-family: UbuntuB, sans-serif !important;
	margin-bottom: 20px;
}
.wake_up .img{
	margin: auto;
}
.wake_up.thanks h1,
.wake_up.thanks h2{
	line-height: 2;
}
/* END Wake Up*/

/* Satisfied */
.satisfied{
	padding-top: 60px;
}
.satisfied .container > .row{
	margin-bottom: 53px;
}
.satisfied h2{
	margin-bottom: 50px;
}
.satisfied .img_block{
	margin-bottom: 17px;
}
.offer .img_block{
	min-height: 50px;
}
.offer .img_block:before,
.satisfied .p_block:before,
.satisfied .img_block:before{
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}
.offer .img_block .img,
.satisfied .p_block p,
.satisfied .img_block .img{
	display: inline-block;
	vertical-align: middle;
}
.satisfied .video{
	margin-top: 17px;
}
.satisfied p{
	color: #575757;
	font-size: 18px;
}
.satisfied .others{
	margin-bottom: 60px;
}
.satisfied .others a{
	font-size: 26px;
	font-family: UbuntuB, sans-serif;
	font-weight: 700;
}
.satisfied .others a:focus,
.satisfied .others a:hover{
	text-decoration: none;
	color: #680000;
}
/* END Satisfied */

/* Our Portfolio */
.our_portfolio{
	padding-top: 65px;
	padding-bottom: 65px;
	background-color: #860000;
}
footer .wrap_form,
.our_portfolio .wrap{
	border-radius: 20px;
	background-color: #fff;
	padding: 30px 40px;
}
.our_portfolio .wrap p{
	font-family: UbuntuB, sans-serif;
	font-size: 18px;
	font-weight: 700;
}
footer .wrap_form input,
.our_portfolio .wrap input{
	margin-top: 22px;
	margin-bottom: 25px;
	background-color: #cacaca;
	font-size: 14px;
	font-family: Ubuntu, sans-serif;
	border-radius: 0px;
}
footer .wrap_form .form-group,
.our_portfolio .wrap .form-group{
	margin-bottom: 0px;
}
input::-webkit-input-placeholder{color: #fff !important;line-height:1.6;transition:line-height 0.5s ease;}
input::-moz-placeholder{color: #fff !important;line-height:1.6;transition:line-height 0.5s ease;}
input:-moz-placeholder{color: #fff !important;line-height:1.6;transition:line-height 0.5s ease;}
input:-ms-input-placeholder{color: #fff !important;line-height:1.6;transition:line-height 0.5s ease;}

input.parsley-error::-webkit-input-placeholder{color: #680000 !important;line-height:1.6;transition:line-height 0.5s ease;}
input.parsley-error::-moz-placeholder{color: #680000 !important;line-height:1.6;transition:line-height 0.5s ease;}
input.parsley-error:-moz-placeholder{color: #680000 !important;line-height:1.6;transition:line-height 0.5s ease;}
input.parsley-error:-ms-input-placeholder{color: #680000 !important;line-height:1.6;transition:line-height 0.5s ease;}

input:focus::-webkit-input-placeholder{line-height:10;transition:line-height 0.5s ease;}
input:focus::-moz-placeholder{line-height:10;transition:line-height 0.5s ease;}
input:focus:-moz-placeholder{line-height:10;transition:line-height 0.5s ease;}
input:focus:-ms-input-placeholder{line-height:10;transition:line-height 0.5s ease;}

.our_portfolio .btn.btn-default{
	background-color: #860000;
	color: #fff;
	border-radius: 10px;
	font-size: 16px;
	padding: 8px 30px;
	font-family: UbuntuB, sans-serif;
	font-weight: 700;
}
.our_portfolio .btn.btn-default:hover{
	background-color: #680000;
}
li[class*='parsley-']{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
	color: #860000;
}
/* END Our Portfolio */

/* With Whom */
.with_whom{
	padding-top: 48px;
	padding-bottom: 48px;
}
.with_whom h2{
	margin-bottom: 25px;
}
.with_whom p{
	font-size: 18px;
}
.with_whom .row{
	margin-bottom: 35px;
}
.with_whom .row:last-child{
	margin-bottom: 0px;
}
/* END With Whom */

/* Not With */
.not_with{
	background-color: #cacaca;
}
/* END Not With */

/* Work With */
.work_with{
	background-color: #fff;
}
.work_with .wrap{
	background-color: #860000;
}
.work_with p{
	color: #fff;
}
.work_with .btn.btn-default{
	background-color: #fff;
	margin-top: 19px;
	margin-bottom: 22px;
	color: #860000;
}
.work_with .btn.btn-default:hover{
	color: #680000;
	background-color: #f1f1f1;
}
.work_with li[class*='parsley-']{
	color: #fff !important;
}
/* END Work With */

/* Offer */
.offer{
	border-top: 3px solid #cacaca;
	padding-top: 65px;
	padding-bottom: 65px;
}
.offer h2{
	margin-bottom: 60px;
}
.offer .img{
	margin: auto;
	margin-bottom: 35px;
}
.offer .row{
	margin-bottom: 35px;
}
.offer .row:last-child{
	margin-bottom: 0px;
}
.offer p{
	font-size: 18px;
}
/* END Offer */

/* Our Clips */
.our_clips p{
	padding-left: 70px;
	padding-right: 70px;
}
/* END Our Clips */

/* Want Clip */
.want_clip{
	background-color: #cacaca;
}
/* END Want Clip */

/* How */
.how{
	padding-top: 65px;
	padding-bottom: 65px;
}
.how .row{
	margin-bottom: 65px;
}
.how .row > .col-md-6{
	min-height: 120px;
}
.how .row:last-child{
	margin-bottom: 0px;
}
.how h2{
	margin-bottom: 60px;
}
.how .img{
	margin: auto;
}
.how p{
	font-size: 18px;
}
.how .img_block,
.how .body{
	min-height: inherit;
}
.how .col-md-6 .wrap_img{
	position: relative;
	z-index: 10;
}
.how .col-md-6:last-child > .col-md-6:first-child .wrap_img:after,
.how .col-md-6:first-child > .col-md-6:first-child .wrap_img:after{
	content: '';
	background-image: url('../images/how/dashed.png');
	background-repeat: repeat-x;
	height: 5px;
	display: block;
	position: absolute;
	z-index: -1;
}
.how .col-md-6:first-child > .col-md-6:first-child .wrap_img:after{
	width: 210%;
	right: -210%;
	top: 46%;
}
.how .col-md-6:last-child > .col-md-6:first-child .wrap_img:after{
    width: 400%;
    left: -300%;
    bottom: -35%;
    transform: rotate(-25deg);
}
.how .row:last-child .col-md-6:last-child > .col-md-6:first-child .wrap_img:after{
	display: none;
}
/* END How */

/* About */
.about{
	padding-top: 65px;
	padding-bottom: 65px;
}
.about .img{
	margin: auto;
}
.about p{
	line-height: 1.6;
	font-size: 16px;
}
.about p a{
	color: #6f6f6f;
}
.about p a:focus,
.about p a:hover{
	color: #6f6f6f;
	text-decoration: none;
}
/* END About */

/* Footer */
footer{
	background-color: #860000;
	padding-top: 65px;
}
footer .container{
	padding-bottom: 55px;
}
footer .img{
	margin: auto;
	margin-bottom: 35px;
}
footer p{
	color: #fff;
	margin-bottom: 35px;
}
footer a{
	color: #fff;
}
footer a:focus,
footer a:hover{
	color: #fff;
	text-decoration: none;
}
footer .contact_info p:last-child{
	margin-bottom: 0px;
}
footer p.light_gray{
	font-size: 20px;
}
footer .phone_num{
	font-size: 30px;
}
footer .email{
	font-size: 20px;
}
footer h3{
	color: #fff;
	margin-bottom: 40px;
	font-size: 30px;
	font-family: Arial, sans-serif;
}
footer .wrap_form{
	background-color: #fff;
	border-radius: 20px;
	padding: 30px 40px;
}
footer .wrap_form > p{
	color: #860000;
	font-size: 20px;
	font-family: Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 25px;
}
footer form .btn.btn-default{
	background-color: #860000;
	margin-top: 19px;
	margin-bottom: 22px;
	color: #fff;
	border-radius: 10px;
	font-family: Arial, sans-serif;
	font-weight: 700;
	margin: auto;
	font-size: 20px;
}
footer form .name input{
	margin-top: 0px;
}
footer form .phone,
footer form .name{	
	width: 70%;
	margin: auto;
}
footer form .btn.btn-default:hover{
	color: #cacaca;
	background-color: #680000;
}
.footer_bottom{
	background-color: #cacaca;
	color: #000;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 0px;
}
.footer_bottom a{
	color: #000;
	font-size: 20px;
}
.footer_bottom a:focus,
.footer_bottom a:hover{
	text-decoration: none;
	color: #000;
}
footer .social_links{
	top: -21px;
	position: relative;
	z-index: 20;
}
footer .social_links ul{
	padding-right: 40px;
}
footer .social_links .list-inline>li{
	padding-right: 10px;
}
footer .social_links p{
	margin-bottom: 0px;
	color: #000;

}
footer .social_links a{
	opacity: .8;
}
footer .social_links a:hover{
	opacity: 1;
}
/* END Footer */

/* Modal */
.modal button.close{
	position: relative;
	z-index: 100;
	font-family: Arial, sans-serif;
	border: 0px;
	text-shadow: none;
	box-shadow: none;
	margin-right: 5px;
}
.modal-body{
	padding: 30px;
}
/* END Modal */



@media (min-width: 1200px){
	.container {
	    width: 1024px;
	}
}
@media (max-width: 1199px){
	header .contacts_info a.phone{
		font-size: 29px;
	}
}
@media (max-width: 1070px){
	.wake_up .row.margin_60{
		margin-right: -15px;
		margin-left: -15px;
	}
}
@media (max-width: 1024px){
	.offer .row > .row{
		margin-right: 0px;
		margin-left: 0px;
	}
}
@media (max-width: 991px){
	.how .body, .how .img_block,
	header .col-md-3, 
	header .col-md-6{
		min-height: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	header .col-md-3:last-child{
		text-align: center;
	}
	header .col-md-3:last-child .pull-right{
		float: none !important;
	}
	header .col-md-3:last-child p:last-child{
		padding-top: 10px;
	}
	.our_portfolio .wrap .form-group{
		padding-right: 0px;
		padding-left: 0px;
	}
	.work_with form .col-md-8{
		padding-right: 0px;
	}
	.work_with .btn.btn-default{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.satisfied,
	.our_portfolio,
	.with_whom,
	.offer,
	.how,
	.offer.about,
	footer{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.how .container > .row,
	.satisfied .others{
		margin-bottom: 0px;
	}
	.satisfied .video,
	footer h3,
	footer p,
	footer .img,
	.about .col-md-3,
	.about h2,
	.how .row>.col-md-6,
	.how h2,
	.offer .row > .row > .col-md-4,
	.offer h2,
	.with_whom .row,
	.with_whom h2,
	.satisfied .container>.row,
	.satisfied h2{
		margin-bottom: 20px;
	}	
	.satisfied .video{
		margin-right: -40px;
		margin-left: -40px;
	}
	.our_portfolio .wrap, footer .wrap_form{
		padding: 20px 30px;
	}
	.offer .img{
		margin-bottom: 10px;
	}
	.offer .row{
		margin-bottom: 0px;
	}
	.how,
	.offer{
		padding-bottom: 10px;
	}
	.offer .col-md-4,
	.about .col-md-9{
		padding-right: 74px;
		padding-left: 74px;
	}
	footer .container,
	footer{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	footer .row > .col-md-6.text-center.padding_74{
		margin-top: 30px;
	}
	.how .col-md-6:first-child>.col-md-6:first-child .wrap_img:after,
	.how .col-md-6:last-child>.col-md-6:first-child .wrap_img:after{
		display: none;
	}
	footer .social_links{
		top: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	footer .social_links ul{
		float: none !important;
		text-align: center;
		padding-right: 0px;
	}
	footer .social_links p{
		clear: both;
		text-align: center;
		padding-top: 20px;
	}
	footer .social_links .list-inline>li{
		padding-right: 20px;
	}
	.wake_up{
		padding-top: 30px;
		padding-bottom: 0px;
	}
}
@media (max-width: 767px){
	.wrap{
		width: 80%;
		margin: auto;
	}
	.with_whom .img{
		margin-bottom: 20px;
	}
	.with_whom .col-sm-10{
		padding-right: 74px;
		padding-left: 74px;
	}
}
@media (max-width: 500px){
	.padding_74,
	.offer .col-md-4,
	.about .col-md-9,
	.with_whom .col-sm-10{
		padding-right: 15px;
		padding-left: 15px;
	}
	.satisfied .video{
		margin-right: 0px;
		margin-left: 0px;
	}
	footer form .name,
	footer form .phone{
		width: 100%;
	}
	footer .wrap_form>p{
		margin-bottom: 15px;
	}
}